.feedback {
  background: #FAFAFA;
}

.message-cart {
  background: #ffffff;
  padding: 48px;
  box-shadow: 3px 3px 3px #00000020;
  position: relative;
  border-radius: 2px;

  &__icon {
    position: absolute;
    left: 48px;
    top: -48px;
    font-size: 64px;
    color: #F8A141;
  }

  &__text {
    font-size: 18px;
  }

  &__name {
    font-size: 18px;
    font-weight: bold;
    margin-top: 24px;
  }

  &__city {
    opacity: 0.62;
    margin-top: 8px;
  }
}

.markers {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;

  &__item {
    height: 16px;
    width: 16px;
    border: 2px solid #F8A141;
    border-radius: 50%;
    margin: 0 4px;
    cursor: pointer;

    &.active {
      background: #CC791D;
    }
  }
}
