<app-alert></app-alert>

<!--  Header Info  -->
<app-header-info id="header-info"></app-header-info>

<!-- Header -->
<app-header id="header"></app-header>

<!-- Preview -->
<app-preview id="preview"></app-preview>

<!-- Services -->
<app-services id="services"></app-services>

<!-- Rooms -->
<app-rooms id="rooms"></app-rooms>

<!-- Gallery -->
<app-gallery id="gallery"></app-gallery>

<!-- Other -->
<app-leisure id="leisure"></app-leisure>

<!-- Feedback -->
<app-feedback id="feedback"></app-feedback>

<!-- Contacts -->
<app-contacts id="contacts"></app-contacts>

<!-- Footer -->
<app-footer id="footer"></app-footer>
