<div class="modal-container">
  <div class="modal">
    <div class="modal-header">
      <div class="modal-header__title">Отправьте нам сообщение</div>
      <div class="modal-header__close" (click)="onClose()">
        <i class="mdi mdi-close"></i>
      </div>
    </div>

    <form class="modal-form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="modal-form__field" *ngIf="form.controls.name as control">
        <label>Имя</label>
        <input type="text" placeholder="Введите ваше имя" [formControl]="control">
      </div>

      <div class="modal-form__field" *ngIf="form.controls.phone as control">
        <label>Телефон</label>
        <input type="text" placeholder="Введите ваш контактный номер" [formControl]="control" [autofocus]="true">
      </div>

      <div class="modal-form__field" *ngIf="form.controls.email as control">
        <label>Email*</label>
        <input type="text" placeholder="Введите ваш email" [formControl]="control">
        <app-error *ngIf="control.hasError('required') && control.touched">
          Поле обязательно для заполнения
        </app-error>
        <app-error *ngIf="control.hasError('email') && control.touched">
          Введите действительный адрес электронной почты
        </app-error>
      </div>

      <div class="modal-form__field" *ngIf="form.controls.other as control">
        <label>Дополнительная информация</label>
        <textarea placeholder="Текст сообщения" [formControl]="control"></textarea>
      </div>

      <div class="modal-form__action">
        <button class="button" type="submit" [class.disabled]="form.invalid">Отправить</button>
      </div>
    </form>
  </div>
</div>
