.leisure {

}

.leisure-box {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 64px;

  &.reverse {
    flex-direction: row-reverse;
  }

  &__preview {
    flex: 1 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 320px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 64px;
    color: #00000030;

    cursor: pointer;
  }

  &__info {
    flex: 1 0 auto;
  }
}

.leisure-info {
  background: #ffffff;
  padding: 16px 0;

  &__title {
    font-size: 32px;
    margin-bottom: 16px;
  }

  &__desc {
    font-size: 15px;
    opacity: 0.62;
    line-height: 1.5;
  }

  @media (min-width: 768px) {
    box-shadow: 3px 3px 3px #00000020;
    margin-left: -80px;
    margin-top: 5%;
    padding: 32px;
    height: 80%;
    overflow: hidden;
  }

  &.reverse {
    @media (min-width: 768px) {
      margin-right: -80px;
      margin-left: 0;
    }
  }
}
